@font-face {
  font-family: Lato-Bold;
  src: url(./assets/fonts/Lato-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-Semibold;
  src: url(./assets/fonts/Lato-Semibold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-Light;
  src: url(./assets/fonts/Lato-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-Regular;
  src: url(./assets/fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

header,
section,
footer {
  max-width: 1020px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  z-index: 900;
}

.header {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: solid 6px #323746;
  background-color: #2d303a;
}
.menu-toggle {
  display: none;
}

.logo {
  padding: 0 10px;
  font-family: Lato-Semibold;
  text-decoration: none;
  color: #ffffff;
  font-size: 2.4rem;
  font-stretch: condensed;
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

.header__nav {
  padding: 0 10px;
}

.nav-list {
  display: flex;
  padding-top: 10px;
}

.list-item {
  position: relative;
  margin-left: 31.5px;
  font-size: 1.148rem;
  font-family: Lato-Semibold;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.list-item:hover {
  color: #f06c64;
}

.list-item::before {
  position: absolute;
  left: -17px;
  top: -6px;
  font-size: 1.5rem;
  color: #494e62;
  content: ".";
}

.list-item:first-child::before {
  display: none;
}

.list-item_active {
  color: #f06c64;
}

.slider-wrapper {
  position: relative;
  height: 53.4vw;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.arrow {
  position: absolute;
  display: block;
  height: 31px;
  width: 20px;
  background-image: url(./assets/images/slider/chev.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 25;
}

.arrow_left {
  top: 46.5%;
  left: 3.9%;
}

.arrow_right {
  top: 46.5%;
  right: 3.7%;
  transform: rotate(180deg);
}

.slider {
  position: relative;
  display: flex;
  height: 100%;
}

.slider__img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone-picture {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 58.25%;
  background-color: #f06c64;
}

.iphone {
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
}

.iphone_vertical {
  width: 24.6%;
  height: 81.43%;
  top: 9.2%;
  left: 11%;
  background-image: url(./assets/images/slider/iPhoneV.png);
}

.iphone_horizontal {
  width: 47.6%;
  height: 40.7%;
  top: 29.8%;
  left: 41.6%;
  background-image: url(./assets/images/slider/iPhoneH.png);
}

.iphone__btn {
  position: absolute;
  border-radius: 50%;
}

.iphone__btn_vertical {
  height: 9%;
  width: 18%;
  top: 84.2%;
  left: 34%;
}

.iphone__btn_horizontal {
  height: 18%;
  width: 9%;
  top: 35.5%;
  left: 1.5%;
}

.iphone__btn:hover {
  cursor: pointer;
}

.display {
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.display_vertical {
  top: 13.4%;
  left: 5.7%;
  width: 74.7%;
  height: 68.9%;
  background-image: url(./assets/images/slider/screenV.png);
  background-position: 3.8% 55%;
  background-size: 310% auto;
}

.display_horizontal {
  top: 5.8%;
  left: 12.3%;
  width: 69%;
  height: 78.2%;
  background-image: url(./assets/images/slider/screenH.png);
  background-position: 50.5% 30.5%;
  background-size: auto 308%;
}

.services {
  padding: 59px 30px 29px;
  border-bottom: solid 6px #ffffff;
  background-color: #f2f2f2;
  color: #666d89;
}

.article {
  padding: 0 10px;
}

.article__header {
  font-size: 3rem;
  font-family: Lato-Black;
}

.article__text {
  padding-top: 18px;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: Lato-Light;
  text-align: justify;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 44px;
}

.service {
  display: flex;
  margin-bottom: 34px;
  width: 33%;
  height: 90px;
  overflow: hidden;
}

.service__icon {
  display: flex;
  align-self: flex-start;
  flex-shrink: 0;
  height: 59px;
  width: 59px;
  margin: 4px 10px;
  align-items: center;
  justify-content: center;
  border: solid 2px #666d89;
  border-radius: 50%;
}

.service-description {
  width: 220px;
  margin: 0 10px;
}

.description__header {
  font-family: Lato-Black;
  word-spacing: -0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description__text {
  padding-top: 8px;
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-family: Lato-Regular;
  text-align: justify;
}

h2 {
  font-size: 3rem;
  font-family: Lato-Black;
}

.portfolio {
  padding: 59px 30px 59px;
  border-bottom: solid 6px #323746;
  background-color: #2d303a;
  color: #666d89;
}

.filter {
  padding: 11px 10px 9px;
}

.filter__button {
  border: solid 1px #666d89;
  border-radius: 5px;
  margin-right: 7px;
  padding: 0 7px;
  background-color: transparent;
  color: #666d89;
  line-height: 2rem;
  font-size: 1.14rem;
  font-family: Lato-Semibold;
  list-style: none;
  text-decoration: none;
}

.filter__button:hover {
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}

.filter__button_active {
  color: #ffffff;
  border-color: #ffffff;
}

.filter__button:focus {
  outline: none;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__image:nth-child(n + 13) {
  display: none;
}

.portfolio__image {
  flex: 1 0 20%;
  height: 187px;
  margin: 10px;
}

.portfolio__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us {
  padding: 59px 30px 18px;
  border-bottom: solid 6px #ffffff;
  background-color: #f2f2f2;
  color: #666d89;
}

.about-us-3-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 10px;
}

.person {
  display: flex;
  flex-direction: column;
  width: 31.8%;
  margin: 0 1.15%;
}

.person:first-child {
  margin-left: 0;
}

.person:last-child {
  margin-right: 0;
}

.person__photo {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.person__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-description {
  padding-bottom: 24px;
}

.social_about {
  margin-top: auto;
  padding-left: 1px;
}

.social__item {
  display: inline-block;
  height: 32px;
  width: 32px;
  border: solid 1px;
  border-radius: 50%;
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

.social :not(:last-child) {
  margin-right: 4px;
}

.social__item:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.facebook {
  background-image: url(./assets/images/socials/facebook.png);
  background-size: 8px;
}

.google {
  background-image: url(./assets/images/socials/google+.png);
}

.twitter {
  background-image: url(./assets/images/socials/twitter.png);
}

.linkedin {
  background-image: url(./assets/images/socials/linkedin.png);
}

.get-a-quote {
  padding: 59px 30px 43px;
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
  color: #f0d8d9;
}

.contacts-block {
  display: flex;
  padding-top: 42px;
}

.contact-form {
  width: 620px;
  margin: 0 10px;
  padding-top: 2px;
}

.form__item {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
  padding-left: 15px;
  line-height: 3.6rem;
  background-color: #d6564f;
  color: #ffffff;
}

.form__item:focus {
  outline-color: #f48c8f;
}

.form__item_textarea {
  height: 159px;
  padding-top: 0;
  margin-bottom: 13px;
  font-size: 1.1rem;
  resize: none;
}

.form__item_submit {
  width: 22%;
  margin-bottom: 15px;
  padding-right: 15px;
  background-color: #fbc65f;
  color: #f48c8f;
  text-transform: uppercase;
}

.form__item_submit:hover {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #f48c8f;
}

.form__item::-moz-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-family: Lato-Regular;
}

.form__item::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-family: Lato-Regular;
}

.contact-information {
  width: 300px;
  margin: 0 10px;
}

.contact-details {
  padding-top: 24px;
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-family: Lato-Regular;
  text-align: justify;
}

.contact-details__text:last-child {
  padding-top: 1px;
}

.contact-icon {
  margin-right: 6px;
}

.contact-icon img {
  height: 14px;
  width: 14px;
  vertical-align: text-bottom;
  opacity: 0.7;
}

.contact-icon_phone img {
  transform: scale(1, -1) rotate(180deg);
}

.footer {
  display: flex;
  height: 76px;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  color: #666d89;
}

.copyright {
  padding-left: 2px;
  padding-bottom: 2px;
  font-family: Lato-Regular;
  font-size: 1.23rem;
}

.social_footer {
  padding-top: 3px;
}

.popup-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 25%;
  margin: auto;
  display: flex;
  width: 300px;
  max-height: 400px;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  background-color: #2d303a;
  border: 2px solid #666d89;
  font-family: Lato-Regular;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
}

.popup button {
  align-self: center;
  margin-top: 20px;
  width: 100px;
}

.popup p,
button {
  max-height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}

.anchor {
  position: relative;
  top: -125px;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .nav-list {
    padding-top: 3px;
  }
  .slider-wrapper {
    height: 57.4vw;
  }

  .services {
    padding: 42px 30px 23px;
  }

  .layout-2-columns-sm {
    padding-top: 30px;
  }

  .service {
    margin-bottom: 55px;
    width: 49.9%;
  }

  .portfolio {
    padding: 54px 30px 59px;
  }

  .layout-3-columns-sm {
    margin-top: 10px;
  }

  .portfolio__image {
    flex: 1 0 30%;
    height: 183px;
  }

  .about-us {
    padding: 52px 30px 20px;
  }

  .about-us-3-columns {
    padding-top: 38px;
  }

  .person__photo {
    width: 100%;
    margin-bottom: 13px;
  }

  .person-description {
    padding-bottom: 12px;
  }

  .person-description .description__text {
    padding-top: 0px;
  }
  .get-a-quote {
    padding: 52px 30px 27px;
  }
  .contacts-block {
    padding-top: 24px;
  }
  .form__item {
    width: 100%;
    margin-bottom: 12px;
    padding-left: 9px;
  }
  .form__item_textarea {
    margin-bottom: 17px;
  }
  .form__item_submit {
    width: 30%;
  }
  .contact-information .description__text {
    padding-top: 0px;
    line-height: 2.2rem;
  }
  .contact-details {
    padding-top: 11px;
  }
}

@media (max-width: 767px) {
  .anchor {
    top: -100px;
  }
  .header {
    height: 71px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-bottom: none;
  }

  .menu-toggle {
    position: absolute;
    left: 20px;
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(./assets/images/menu/Burger-menu-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 30;
    transition: transform 0.5s linear;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  .logo {
    position: absolute;
    font-size: 1.9rem;
    padding-right: 0;
    z-index: 30;
    transition: all 0.5s linear;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    padding: 0;
    z-index: -10;
  }
  .nav-list {
    position: relative;
    height: 100vh;
    width: 71vw;
    flex-direction: column;
    padding: 217px 0 0 42px;
    background-color: #2d303a;
    transition: transform 0.5s linear;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .list-item {
    position: relative;
    margin-left: 31.5px;
    font-family: Lato-Semibold;
    font-size: 2.4rem;
    line-height: 5.7rem;
    letter-spacing: -0.035em;
  }
  .list-item::before {
    display: none;
  }
  .slider-wrapper {
    height: 56.1vw;
    border-bottom: none;
  }
  .arrow_left {
    top: 43%;
    left: 1.9%;
  }

  .arrow_right {
    top: 43.4%;
    right: 2.4%;
  }

  .services {
    padding: 26px 20px 2px;
    border-bottom: none;
  }
  .layout-1-column-xs {
    padding-top: 27px;
  }

  .service {
    margin-bottom: 29px;
    width: 100%;
  }
  .service-description {
    width: 100%;
  }

  .portfolio {
    padding: 42px 30px 26px;
    border-bottom: 0;
  }
  .portfolio .article {
    padding: 0;
  }
  .filter {
    padding: 16px 0px 9px;
  }

  .layout-2-columns-xs {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
  }
  .portfolio__image {
    flex: 1 0 40%;
    height: 33vw;
    margin: 0 14px 13px 0;
  }

  .portfolio__image:nth-child(n + 9) {
    display: none;
  }
  .portfolio__image:nth-child(2n) {
    margin-right: 0;
  }
  .about-us {
    padding: 33px 20px 11px;
    border-bottom: 0;
  }
  .about-us-1-column {
    padding: 25px 10px 0px;
    justify-content: center;
  }
  .person {
    width: 100%;
    max-width: 390px;
    margin: 0 0 24px 0;
  }
  .person__photo {
    width: 100%;
  }
  .person-description {
    padding-bottom: 12px;
  }

  .person-description .description__text {
    padding-top: 2px;
  }
  .get-a-quote {
    padding: 44px 20px 41px;
    border-bottom: 0;
  }
  .contacts-block {
    flex-wrap: wrap;
    padding-top: 21px;
  }
  .form__item {
    width: 100%;
    margin-bottom: 12px;
    padding-left: 9px;
  }
  .form__item_textarea {
    margin-bottom: 15px;
  }
  .form__item_submit {
    line-height: 4.6rem;
  }
  .contact-information {
    margin-top: 19px;
    width: 100%;
  }
  .contact-information .description__text {
    padding-top: 0px;
    line-height: 2.2rem;
  }
  .contact-details {
    padding-top: 11px;
    line-height: 2.45rem;
  }
  .copyright {
    display: none;
  }
  .footer {
    justify-content: center;
  }
}
